@font-face {
    font-family: "Montreal Regular" ;
    src: url(./fonts/Montreal-Regular.woff);
}
@font-face {
    font-family: "Montreal Bold" ;
    src: url(./fonts/Montreal-Bold.woff);
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montreal Regular";
    text-decoration: none;
    cursor: none;
}

html, body {
    width: 100%;
    height: 100vh;
    background-color: rgb(232 232 227/1);
}

.cursor {
  opacity: 0;
  width: 15px;
  height: 15px;
  position: fixed;
  border-radius: 50%;
  pointer-events:none;
  mix-blend-mode: difference;
  z-index: 5000;
  background-color: rgb(96, 96, 96);
}

.preloder {
    background-color: black;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    overflow: hidden;
    display: block;
    pointer-events:none ;
}

.main {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgb(232 232 227/1);
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: clamp(2.25rem,2.1786rem + 0.3517vi,2.5rem);
    padding-right: clamp(2.25rem,2.1786rem + 0.3517vi,2.5rem);
}

header .logo-left {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 4rem;
}
header .logo-left p {
    color: #6b645c;
    font-size: 18px;
}

header .menu {
    width: 50%;
    flex-grow: 1;
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

.menu-line {
    width: min-content;
    height: 1.25rem;
    min-height: 1.25rem;
    position: relative;
    overflow: hidden;
}

 .top-1 {
    margin-top: -1.25rem;
}

.nav-link {
    display: block;
    transition: 0.3s ease, opacity 0.3s ease;
    
}

.menu-line:hover .nav-link.top-1{
    transform:  translateY(20px) ; 
}
.menu-line:hover .nav-link:not(.top-1){
    transform: scale(1.2) translateY(20px) ; 
}

header .menu a {

    color: #6b645c;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

}

/* page- 1 css //////////////////////////////////////////////////////////////////////////////*/

.page {
    width: 100%;
    height: 100vh;
    padding-left: clamp(2.25rem,2.1786rem + 0.3517vi,2.5rem);
    padding-right: clamp(2.25rem,2.1786rem + 0.3517vi,2.5rem);
}


.top{
  display: flex;
  flex-wrap: wrap;
  gap:40px;
 
}

.page .top h1 {
    text-wrap: balance;
    line-height: 1;
    letter-spacing: -0.025em;
    /* opacity: 0; */
    /* font-size: 140px; */
    font-size: clamp(9rem , 0.9286rem + 00.3517vi , 1.25rem);
    margin-top: 2rem;
    text-transform: uppercase;
}
.page .top h1 span {
  display: inline-block;
}

.page .top h1 svg {
    width: 100%;
    height: 100%;
}

.page .top h1 svg path {
    transform: translateY(100%);
    opacity: 0;
}

.page .bottom {
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    margin-top: 4rem;
    position: relative;
    height: 30vh;
    padding-bottom: 4rem;
}

.page .bottom .left {
    height: 45vh;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.page .bottom .left svg {
    font-size: 28px;
}

.page .bottom .left p {
    font-size: clamp(1rem , 0.9286rem + 00.3517vi , 1.25rem);
    color: rgb(107 100 92/1);
    max-width: 30vw;
    line-height: 120%;
    text-wrap: balance;
}

.page .bottom .left button {
  overflow: hidden;
    background-color:transparent ;
    padding-left: clamp(2.25rem, 2.1786rem + 0.3571vi, 2.5rem);
    padding-right: clamp(2.25rem, 2.1786rem + 0.3571vi, 2.5rem);
    padding-top: clamp(1.125rem, 1.0893rem + 0.1786vi, 1.25rem);
    padding-bottom: clamp(1.125rem, 1.0893rem + 0.1786vi, 1.25rem);
    color: rgb(57 54 50 / 1);
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: clamp(1rem, 0.9286rem + 0.3571vi, 1.25rem);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    z-index: 3;
    
}

.page .bottom .left button::before {
 
  width: 0px;
  height: 0px;
  top:100%;
  left: 10%;
  position: absolute;
  border: none;
  border-radius: 50%;
  /* transition: height ease 1s; */
  /* background-color: rgb(100, 50, 9); */

  content: "";
  z-index: -1;
}


.page .bottom .left button:hover::before{
  background-color: rgb(0, 0, 0);
  width: 200px;
  height: 200px;
  transform: scale(2) ;
  transition: ease 0.6s ;
  mix-blend-mode: difference;
 
}

.page .bottom .left button:hover{
  color: #fffefe;
  transition: ease 0.8s;
}


.page .bottom .middel {
    grid-column: span 4;
    height: 45vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page .bottom .middel .image {
    overflow: hidden;
     width: 20vw;
     height: 45vh;
   position: relative;
   filter: grayscale(100%);
   transition: all 0.3s linear;
}

.page .bottom .middel .image img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.page .bottom .middel .image:hover {
    filter: grayscale(0%);
    height: 65vh;
    width: 25vw;
    
}

.page .bottom .right {
    height: 45vh;
    grid-column: span 4;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
}

.page .bottom .right p{
    font-size: clamp(0.875rem, 0.5393rem + 0.5786vi, 1rem);
    color: rgb(107 100 92/1);
    text-transform: uppercase;
}

.page .bottom .right h2{
    font-size: clamp(3rem,2.25rem + 3.75vi,5.625rem);
    color: rgb(107 100 92/1);
    text-transform: uppercase;
    
}

/* page-2 css /////////////////////////////////////////////////////////////////////////////////*/

.page2 {
    width: 100%;
    min-height: 100vh;
    background-color: #111;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: clamp(4.5rem, 4.3571rem + 0.7143vi, 5rem)
      clamp(1.6875rem, 1.6339rem + 0.2679vi, 1.875rem);
  }
  
  .page2 h2 {
    color: #d1d1c7;
    font-size: clamp(3rem, 2.25rem + 3.75vw, 5.625rem);
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
  }
  .page2 h2 span {
    display: inline-block;
    transform: translateY(100%); /* Start each span below */
    opacity: 0; /* Initially hidden */
  }
  
  .page2 .serviText {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: flex-start;
    gap: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .page2 .serviText .para {
    color: rgb(107 100 92/1);
    font-size: clamp(0.875rem, 0.5393rem + 0.5786vi, 1rem);
    text-transform: uppercase;
  }
  .page2 .serviText .serviText2 {
    width: 35%;
    font-size: clamp(1rem, 0.9286rem + 0.3571vi, 1.25rem);
    color: rgb(107 100 92/1);
    line-height: 120%;
    text-wrap: balance;
  }
  
  /* Page2 services */
  .page2 .services {
    width: 100%;
    padding: 3rem 0rem;
    position: relative;
  }
  .page2 .services .one {
    display: flex;
    align-items: flex-start;
    background-color: #111;
  }
  .page2 .services .border {
    border-top: 1px solid #393632;
    padding-top: 3rem;
  }
  
  .page2 .services .one .oneL {
    width: 50%;
  }
  
  .page2 .services .one .oneL h2 {
    color: #d1d1c7;
    font-size: clamp(1.9531rem,1.496rem + 2.2854vi,3.5529rem);
    font-family: "Montreal Regular";
  }
  .page2 .services .one .oneR {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  
  .page2 .services .one .oneR h3{
    font-size: clamp(1.9531rem,1.496rem + 2.2854vi,3.5529rem);
    font-family: "Montreal Regular";
    color: #d1d1c7;
  }
  .page2 .services .one .oneR p {
    color: #a29e9a;
    padding-top: clamp(1.125rem,1.0893rem + 0.1786vi,1.25rem);
    padding-bottom: clamp(1.125rem,1.0893rem + 0.1786vi,1.25rem);
    max-width: 80%;
  }
  .page2 .services .one .oneR .list {
    padding-top: clamp(1.125rem,1.0893rem + 0.1786vi,1.25rem);
    padding-bottom: clamp(1.125rem,1.0893rem + 0.1786vi,1.25rem);
    color: #a29e9a;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
    width: 100%;
  }
  
  .listItem.bt{
    border: none !important ;
  }
  .page2 .services .one .oneR .list .listItem {
    font-size: clamp(1.25rem,1.0359rem + 1.0707vi,1.9995rem);
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #393632;
    width: 100%;
    padding-bottom: 1rem;
  
    gap: 2rem;
  }
  .page2 .services .one .oneR .list .listItem span {
    font-size: clamp(1rem,0.9286rem + 0.3571vi,1.25rem);
    padding-top: 5px;
  }
  

.worning {
  display: none;
  text-transform: uppercase;
 
}  

@media(width <= 700px){
  .main{
    display: none;
  }
  .worning {
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    display: flex;
    align-items: center;
    /* text-transform: uppercase; */
  } 
}
